h1 {
    color: red;
}
h2 {
    color: blue;
}

/* Tablests */
@media (min-width: 768px) and (max-width: 1023px) {
    h1 {
        color: rgb(0, 15, 128);
    }
    h2 {
        color: rgb(255, 234, 0);
    }
}

/* Celulares */
@media (max-width: 767px) {
    h1 {
        color: rgb(0, 53, 128);
    }
    h2 {
        color: rgb(4, 255, 0);
    }
}